.sign_in_page.sign_up
  .well.well-lg
    %h1.main_header Rentelligent.ly
    = render 'application/flash'
    %hr
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-user.pomegranate_sign
          %input.form-control{type: "text", name: "user[email]", placeholder: "Email Address", required: true}
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-lock.pomegranate_sign
          %input#address.form-control{type: "password", name: "user[password]", placeholder: "Password", required: true}
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-lock.pomegranate_sign
          %input#address.form-control{type: "password", name: "user[password_confirmation]", placeholder: "Password", required: true}
      .form-group{ style: 'text-align: center; margin-top: 15px;' }
      %input.btn.btn-primary.property-btn{ type: 'submit', value: "Sign Up" }
      %input.btn.btn-primary.property-btn.sign-in-button{ type: 'submit', value: "Sign In" }
      .form-group{ style: 'text-align: center; margin-top: 15px;' }
        %a.btn.btn-lg.btn-primary.pomegranate.facebook_login
          %i.fa.fa-facebook-square
          %span &nbsp;Login with Facebook
