.well
  %h1.title Report an Issue
  %hr
  = simple_form_for [@property, @issue] do |f|
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-pencil-square
        %textarea.form-control{type: "text", name: "issue[description]", placeholder: "Description"}
    .form-group.center
      %input.btn.btn-primary.property-btn{ type: 'submit' }
      = link_to 'Back', @property, class: 'btn btn-default'

