.well
  %h1.title Add New Property
  %hr
  = simple_form_for @property do |f|
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-building
        %input#address.form-control{type: "text", name: "property[address]", placeholder: "Address", required: true}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-pencil-square
        %textarea#description.form-control{name: "property[description]", placeholder: "Description"}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-male
        %input#landlord_name.form-control{type: "text", name: "property[landlord_name]", placeholder: "Landlord Name"}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-envelope
        %input#landlord_email.form-control{type: "text", name: "property[landlord_email]", placeholder: "Landlord Email", required: true}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-phone
        %input#phone_number.form-control{type: "text", name:"property[landlord_phone]", placeholder: "Landlord Phone Number"}
    = f.file_field :image
    .form-group{ style: 'text-align: center' }
      %input.btn.btn-primary.property-btn{ type: 'submit' }
