.well
  %h1.title Add New Property
  %hr
  = simple_form_for @property do |f|
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-home
        %input.form-control{type: "text", name: "property[name]", placeholder: "Property Name", required: true}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-building
        %input#address.form-control{type: "text", name: "property[address]", placeholder: "Address", required: true}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-pencil-square
        %textarea#description.form-control{name: "property[description]", placeholder: "Description"}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-male
        %input#landlord_name.form-control{type: "text", name: "property[landlord_name]", placeholder: "Landlord Name"}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-envelope
        %input#landlord_email.form-control{type: "text", name: "property[landlord_email]", placeholder: "Landlord Email", required: true}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-phone
        %input#phone_number.form-control{type: "text", name:"property[landlord_phone]", placeholder: "Landlord Phone Number"}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-dollar
        %input.form-control{type: "text", name:"property[rent]", placeholder: "Rent"}

    .form-group
      #datepicker.input-daterange.input-group
        %span.input-group-addon
          %i.fa.fa-calendar
        %input.input-sm.form-control{ type: "text", name: 'rental_term[start_date]', placeholder: 'Lease Start', required: true, data: { provide: 'datepicker', date: { format: 'dd/mm/yyyy' } }}
        %span.input-group-addon to
        %input.input-sm.form-control{ type: "text", name: "rental_term[end_date]", placeholder: 'Lease End', required: true, data: { provide: 'datepicker', date: { format: 'dd/mm/yyyy' }}}

    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-edit
        %textarea.form-control{name: 'rental_term[comments]', placeholder: 'Comments on rental'}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-star
        %input.form-control{type: "text", name:"rental_term[property_rating]", required: true, placeholder: "Property Rating (1-5)"}
    .form-group
      .input-group
        .input-group-addon
          %i.fa.fa-heart
        %input.form-control{type: "text", name:"rental_term[landlord_rating]", required: true, placeholder: "Landlord Rating (1-5)"}

    .form-group
      = f.file_field :image

    .form-group{ style: 'text-align: center; margin-top: 15px;' }
      %input.btn.btn-primary.property-btn{ type: 'submit' }
      = link_to 'Cancel', properties_path, class: 'btn btn-default'
