.sign_in_page
  .well.well-lg
    %h1.main_header Rentelligent.ly
    %hr
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-user.pomegranate_sign
          %input.form-control{type: "text", name: "user[email]", placeholder: "Email Address", required: true}
      .form-group
        .input-group
          .input-group-addon
            %i.fa.fa-lock.pomegranate_sign
          %input#address.form-control{type: "password", name: "user[password]", placeholder: "Password", required: true}
      .form-group{ style: 'text-align: center; margin-top: 15px;' }
      = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary property-btn'
      %input.btn.btn-primary.property-btn.sign-in-button{ type: 'submit', value: "Sign In" }
      .form-group{ style: 'text-align: center; margin-top: 15px;' }
      .row.center
        %a.btn.btn-lg.btn-primary.pomegranate.facebook_login
          %i.fa.fa-facebook-square
          %span &nbsp;Login with Facebook
