.home_nav_container
  .home_container
    - if current_user.has_current_property?
      = render 'properties/property', property: current_user.current_property
    - else
      %h2 You haven't added your property yet.
      = link_to 'Add Property', new_property_path, class: 'btn btn-primary'
