%h1 New Post

= simple_form_for [@forum, @post] do |f|
  .form-group
    %input.form-control{type: 'text', name: 'post[title]', placeholder: 'Title', required: true}
  .form-group
    %textarea.form-control{name: 'post[body]', placeholder: 'Body', required: true}
  .form-group.center
    %input.btn.btn-primary{type: 'submit', value: 'Create'}
    = link_to 'Cancel', @forum, class: 'btn btn-default'
