.property-buttons {
	margin: 10px;
	text-align: center;
}

.yellow {
	color: #f1c40f;
}

.clouds {
	color: #ecf0f1 !important;
}

.nephritis {
	background-color: #27ae60;
}

.pomegranate {
	background-color: #c0392b;
}

.orange {
	background-color: #f39c12;
}

.pumpkin {
	background-color: #d35400;
}

.carrot {
	background-color: #e67e22;
}

.asbestos {
	background-color: #7f8c8d;
}

.hide {
	display: none;
}

.quicksand {
	font-family: 'Quicksand', sans-serif;
}

.issues_container .thumb-dummy {
	margin-top: 100%;
}

.summary_card {
	width: 100%;
	background-color: #3498db;
	border-radius: 5px;
	margin-left: 54%;
}

.issues_container .thumbnail {
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 10px;
	right: 0;
	text-align: center;
	padding-top: calc(50% - 30px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2em;
	display: block;
}

.properties_container .thumbnail {
  margin: 0;
  padding: 0;
}

.properties_container img {
  display: table;
  max-height: 500px;

}

.properties_container .cover {
  background-color: rgba(231, 76, 60, 0.8);
  position: absolute;
  bottom: 0px; /* Changed Value */
  padding: 20px;
  left: 2.5%; /* Added */
  right: 0px; /* Added */
  width: 95%;
}

.properties_container img {
  width: 100%;
  /* border: 3px solid white; */
  position: relative; /* Added */
}

.vcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.center {
  text-align: center;
}

.issues_container .thumbnail span.fix {
	position: absolute;
	right: 5px;
	bottom: 5px;
    font-size: 1.2em;
}

.issues_container .fix a {
  text-decoration: none;
}

.testbox {
  margin: 20px auto;
  width: 343px;
  height: 464px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
}

form{
  margin: 0 30px;
}

h1.title {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	color: #e74c3c;
}

.well {
	margin-top: 25px;
}

.property-btn {
	background-color: #e74c3c;
	border-color: #e74c3c;
}

h2.section-heading {
	margin-top: 150px;
	font-size: 38px;
	color: #c0392b;
	font-weight: bold;
}

.text-muted {
	font-family: 'Muli', sans-serif;
	font-size: 18px;
	margin-bottom: 70px;
}

.text-primary {
	color: #c0392b;
}

.about_container {
	position:relative;
	margin-top: 50%;
	background-color: #ecf0f1;
	width: 100%;
}

h2.about_heading {
	margin-top: 50px;
	color: #c0392b;
	font-size: 38px;
	margin-bottom: 30px;
}

h4.about-heading{
	color: #e74c3c;
}

.about-text {
	color: #777;
    font-family: 'Muli', sans-serif;
}

.text-muted-about {
	font-family: 'Muli', sans-serif;
	max-width: 50%;
	font-size: 18px;
	margin-left: 25%;
	line-height: 1.4em;
	margin-bottom: 15px;
}

.sign_buttons {
	margin-bottom: 30px;
}

section > .container {
	width: 100%;
	text-align: center;
}

.utilities {
	font-weight: bold;
	color: #c0392b;
	text-align: center;
}

.payment_button {
	border-color: #c0392b;
}

.summary_information {
	color: #ecf0f1;
	padding-top: 5px;
	padding-left: 5px;
}
