.property-buttons {
	margin: 10px;
	text-align: center;
}

.yellow {
	color: #f1c40f;
}

.clouds {
	color: #ecf0f1 !important;
}

.nephritis {
	background-color: #27ae60;
}

.pomegranate {
	background-color: #c0392b;
}

.orange {
	background-color: #f39c12;
}

.pumpkin {
	background-color: #d35400;
}

.carrot {
	background-color: #e67e22;
}

.hide {
	display: none;
}

.quicksand {
	font-family: 'Quicksand', sans-serif;
}

.thumb-dummy {
	margin-top: 100%;
}

.thumbnail {
	position: absolute;
	top: 15px;
	bottom: 0;
	left: 10px;
	right: 0;
	text-align: center;
	padding-top: calc(50%);
	padding-top: calc(50% - 30px);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 1.2em;
	display: block;
}

.vcenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.thumbnail span {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 1.6em;
}
